<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chat">

	<insert id="insertChat" parameterType="ChatMessage">
	    INSERT INTO chat
	    (roomId, content) VALUES (#{roomId}, CONCAT('대화주제:', #{title}, '\n'))
	</insert>

	<update id="updateChat" parameterType="ChatMessage">
		UPDATE chat
		SET content = CONCAT(content, CONCAT(#{sender},':',#{content},'\n'))
		WHERE roomId = #{roomId};
	</update>
	
	<select id="getRoomInfo" parameterType="String" resultType="ChatMessage">
		select * from chat where roomId=#{chatRoomId}
   	</select>

</mapper>