<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="message">

	<insert id="sendMessage" parameterType="Message">
		INSERT INTO message (MessageNum, MessageSender, SenderNum, MessageReceiver, ReceiverNum, 
		MessageTitle, MessageContent, MessageDate)
		VALUES (#{messageNum}, #{messageSender}, #{SenderNum}, #{messageReceiver}, #{ReceiverNum}, #{messageTitle}, #{messageContent}, Now())
	</insert>

	<select id="inboxList" parameterType="Integer" resultType="Message">
		SELECT * FROM message WHERE ReceiverNum = #{receiverNum}
	</select>
	
	<select id="sentboxList" parameterType="Integer" resultType="Message">
		SELECT * FROM message WHERE SenderNum = #{senderNum}
	</select>
	
	<select id="openMessage" parameterType="Integer" resultType="Message">
		SELECT * FROM message WHERE MessageNum = #{messageNum}
	</select>

</mapper>