<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
   
   <select id="getUserByUserVo" parameterType="User" resultType="User">
      select * from user where userId=#{userId} and userPw=#{userPw}
   </select>
   
   <select id="getUserByUserId" parameterType="String" resultType="User">
      select * from user where userId=#{userId}
   </select>
   
   <select id="getUserByNum" parameterType="int" resultType="User">
   	  select * from user where userNum=#{userNum}	
   </select>
   
   <select id="getUserByNickname" parameterType="String" resultType="User">
      select * from user where userNickname Like CONCAT('%', #{userNickname},'%')
   </select>
   
   <select id="getUserUrlByUserNum" parameterType="int" resultType="String">
      select userUrl from user where userNum = #{userNum}
   </select>

	<insert id="registUser" parameterType="User">
      INSERT INTO user(userId, userPw, userName, userNickname, userAbility,
      				   userAddr, userPhone, userCategoryBig, userCategoryMedium) 
     		 VALUES(#{userId},#{userPw},#{userName},
     		 		#{userNickname},#{userAbility},#{userAddr},
     		 		#{userPhone},#{userCategoryBig},#{userCategoryMedium})
   </insert>

	<update id="updateUser" parameterType="User">
   	  update user set userNickname=#{userNickname}, userPw=#{userPw},
   	  		 userAddr=#{userAddr}, userPhone=#{userPhone}
   	  where userNum=#{userNum}
   </update>
   
   <update id="updateProfile" parameterType="User">
   	  update user set userUrl=#{userUrl}
   	  where userNum=#{userNum}
   </update>
   
   <update id="updateUserLuxColor" parameterType="User">
   	  update user set userLuxColor = userLuxColor + #{userLuxColor}
   	  where userNum=#{userNum}
   </update>
   
   <update id="updateFinishLearning" parameterType="User" >
   <![CDATA[
   	 update user set userColor = userColor + #{userColor} 
   	 where userNum = #{userNum}
   ]]>
   </update>
   
   <update id="updateFinishRunning" parameterType="User" >
   <![CDATA[
   	 update user set userColor = userColor + #{userColor} 
   	 where userNum = #{userNum}
   ]]>
   </update>
   
   <update id="deleteUser" parameterType="String">
   	  update user set isOut='Y',userPw="탈퇴회원", userName="탈퇴회원", userNickname="탈퇴회원",
   	  		 userAddr="탈퇴회원", userPhone="탈퇴회원", userInfo="탈퇴회원", 
   	  		 userCategoryBig="탈퇴회원", userCategoryMedium="탈퇴회원", userAbility=0, userPoint=0, 
   	  		 AdminBoolean=0, userLuxColor=0, userReportCnt=0, userMentorCnt=0, userMenteeCnt=0.
   	  		 userWant="탈퇴회원"
   	  where userId=#{userId}
   </update>
   
   <select id="getUserByIdPhone" parameterType="User" resultType="String">
      select userId from user where userId=#{userId} and userPhone=#{userPhone}
   </select>
   
   <select id="getPointByUserNickname" parameterType="User" resultType="int">
      select userPoint from user where userNickname = #{userNickname}
   </select>
   
   <update id="changePw" parameterType="User">
   	  update user set userPw=#{userPw} where userId=#{userId}
   </update>
   
   <select id="checkUserNicknameExist" parameterType="String" resultType="int">
      select COUNT(*) from user where userNickname=#{userNickname};
   </select>
   
   <select id="checkUserIdExist" parameterType="String" resultType="int">
      select COUNT(*) from user where userId=#{userId};
   </select>
   
   <update id="updateCategory" parameterType="User">
   	  update user set userCategoryBig=#{userCategoryBig}, userCategoryMedium=#{userCategoryMedium}
   	  where userNum=#{userNum}
   </update>
   
</mapper>